//
// Generated (version 2022.2-SP6.4<build 146967>) at Tue Feb 18 11:45:39 2025
//

module led_test
(
    input clk,
    input rstn,
    output [7:0] led
);
	// SDC constraint : (object clk) (id 1000) (clock led_test|clk) (inferred)
    wire N0_0;
    wire [25:0] N8;
    wire N27_5;
    wire N30;
    wire _N3;
    wire _N4;
    wire _N5;
    wire _N6;
    wire _N7;
    wire _N8;
    wire _N9;
    wire _N10;
    wire _N11;
    wire _N12;
    wire _N13;
    wire _N14;
    wire _N15;
    wire _N16;
    wire _N17;
    wire _N18;
    wire _N19;
    wire _N20;
    wire _N21;
    wire _N22;
    wire _N23;
    wire _N24;
    wire _N55;
    wire _N60;
    wire _N65;
    wire _N67;
    wire [25:0] led_light_cnt;
    wire \led_light_cnt[0]_inv ;
    wire nt_clk;
    wire [7:0] nt_led;
    wire nt_rstn;

    GTP_GRS GRS_INST (
            .GRS_N (1'b1));

    GTP_INV N0_0_vname (
            .Z (N0_0),
            .I (nt_rstn));
    // defparam N0_0_vname.orig_name = N0_0;

    GTP_LUT6CARRY /* N8_0_1 */ #(
            .INIT(64'b0110011001100110011001100110011000000000000000000000000000000000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("TRUE"))
        N8_0_1 (
            .COUT (_N3),
            .Z (N8[1]),
            .CIN (),
            .I0 (led_light_cnt[0]),
            .I1 (led_light_cnt[1]),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b1));
	// LUT = I1^I0 ;
	// CARRY = (1'b0) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6CARRY /* N8_0_2 */ #(
            .INIT(64'b0111100001111000011110000111100010000000100000001000000010000000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N8_0_2 (
            .COUT (_N4),
            .Z (N8[2]),
            .CIN (_N3),
            .I0 (led_light_cnt[0]),
            .I1 (led_light_cnt[1]),
            .I2 (led_light_cnt[2]),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&I1&I2&~CIN)|(I0&I1&~I2&CIN)|(~I1&I2&CIN)|(~I0&I2&CIN) ;
	// CARRY = (I0&I1&I2) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6CARRY /* N8_0_3 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N8_0_3 (
            .COUT (_N5),
            .Z (N8[3]),
            .CIN (_N4),
            .I0 (led_light_cnt[3]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6CARRY /* N8_0_4 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N8_0_4 (
            .COUT (_N6),
            .Z (N8[4]),
            .CIN (_N5),
            .I0 (led_light_cnt[4]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6CARRY /* N8_0_5 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N8_0_5 (
            .COUT (_N7),
            .Z (N8[5]),
            .CIN (_N6),
            .I0 (led_light_cnt[5]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6CARRY /* N8_0_6 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N8_0_6 (
            .COUT (_N8),
            .Z (N8[6]),
            .CIN (_N7),
            .I0 (led_light_cnt[6]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6CARRY /* N8_0_7 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N8_0_7 (
            .COUT (_N9),
            .Z (N8[7]),
            .CIN (_N8),
            .I0 (led_light_cnt[7]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6CARRY /* N8_0_8 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N8_0_8 (
            .COUT (_N10),
            .Z (N8[8]),
            .CIN (_N9),
            .I0 (led_light_cnt[8]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6CARRY /* N8_0_9 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N8_0_9 (
            .COUT (_N11),
            .Z (N8[9]),
            .CIN (_N10),
            .I0 (led_light_cnt[9]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6CARRY /* N8_0_10 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N8_0_10 (
            .COUT (_N12),
            .Z (N8[10]),
            .CIN (_N11),
            .I0 (led_light_cnt[10]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6CARRY /* N8_0_11 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N8_0_11 (
            .COUT (_N13),
            .Z (N8[11]),
            .CIN (_N12),
            .I0 (led_light_cnt[11]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6CARRY /* N8_0_12 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N8_0_12 (
            .COUT (_N14),
            .Z (N8[12]),
            .CIN (_N13),
            .I0 (led_light_cnt[12]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6CARRY /* N8_0_13 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N8_0_13 (
            .COUT (_N15),
            .Z (N8[13]),
            .CIN (_N14),
            .I0 (led_light_cnt[13]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6CARRY /* N8_0_14 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N8_0_14 (
            .COUT (_N16),
            .Z (N8[14]),
            .CIN (_N15),
            .I0 (led_light_cnt[14]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6CARRY /* N8_0_15 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N8_0_15 (
            .COUT (_N17),
            .Z (N8[15]),
            .CIN (_N16),
            .I0 (led_light_cnt[15]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6CARRY /* N8_0_16 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N8_0_16 (
            .COUT (_N18),
            .Z (N8[16]),
            .CIN (_N17),
            .I0 (led_light_cnt[16]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6CARRY /* N8_0_17 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N8_0_17 (
            .COUT (_N19),
            .Z (N8[17]),
            .CIN (_N18),
            .I0 (led_light_cnt[17]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6CARRY /* N8_0_18 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N8_0_18 (
            .COUT (_N20),
            .Z (N8[18]),
            .CIN (_N19),
            .I0 (led_light_cnt[18]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6CARRY /* N8_0_19 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N8_0_19 (
            .COUT (_N21),
            .Z (N8[19]),
            .CIN (_N20),
            .I0 (led_light_cnt[19]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6CARRY /* N8_0_20 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N8_0_20 (
            .COUT (_N22),
            .Z (N8[20]),
            .CIN (_N21),
            .I0 (led_light_cnt[20]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6CARRY /* N8_0_21 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N8_0_21 (
            .COUT (_N23),
            .Z (N8[21]),
            .CIN (_N22),
            .I0 (led_light_cnt[21]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6CARRY /* N8_0_22 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N8_0_22 (
            .COUT (_N24),
            .Z (N8[22]),
            .CIN (_N23),
            .I0 (led_light_cnt[22]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6CARRY /* N8_0_23 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N8_0_23 (
            .COUT (),
            .Z (N8[23]),
            .CIN (_N24),
            .I0 (led_light_cnt[23]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../source/led_test.v:29

    GTP_LUT6 /* N27_9 */ #(
            .INIT(64'b0000000000000000000000000000000000000000000000001000000000000000))
        N27_9 (
            .Z (_N55),
            .I0 (led_light_cnt[1]),
            .I1 (led_light_cnt[2]),
            .I2 (led_light_cnt[3]),
            .I3 (led_light_cnt[4]),
            .I4 (led_light_cnt[20]),
            .I5 (led_light_cnt[21]));
	// LUT = I0&I1&I2&I3&~I4&~I5 ;

    GTP_LUT6 /* N27_14 */ #(
            .INIT(64'b1000000000000000000000000000000000000000000000000000000000000000))
        N27_14 (
            .Z (_N60),
            .I0 (led_light_cnt[6]),
            .I1 (led_light_cnt[9]),
            .I2 (led_light_cnt[10]),
            .I3 (led_light_cnt[11]),
            .I4 (led_light_cnt[12]),
            .I5 (led_light_cnt[13]));
	// LUT = I0&I1&I2&I3&I4&I5 ;

    GTP_LUT6 /* N27_19 */ #(
            .INIT(64'b1000000000000000000000000000000000000000000000000000000000000000))
        N27_19 (
            .Z (_N65),
            .I0 (led_light_cnt[14]),
            .I1 (led_light_cnt[15]),
            .I2 (led_light_cnt[16]),
            .I3 (led_light_cnt[18]),
            .I4 (led_light_cnt[19]),
            .I5 (led_light_cnt[22]));
	// LUT = I0&I1&I2&I3&I4&I5 ;

    GTP_LUT6 /* N27_21 */ #(
            .INIT(64'b0000000000000000000000000000001000000000000000000000000000000000))
        N27_21 (
            .Z (_N67),
            .I0 (led_light_cnt[0]),
            .I1 (led_light_cnt[5]),
            .I2 (led_light_cnt[7]),
            .I3 (led_light_cnt[8]),
            .I4 (led_light_cnt[17]),
            .I5 (led_light_cnt[23]));
	// LUT = I0&~I1&~I2&~I3&~I4&I5 ;

    GTP_LUT5 /* N30 */ #(
            .INIT(32'b11010101010101010101010101010101))
        N30_vname (
            .Z (N30),
            .I0 (nt_rstn),
            .I1 (_N55),
            .I2 (_N60),
            .I3 (_N65),
            .I4 (_N67));
    // defparam N30_vname.orig_name = N30;
	// LUT = (~I0)|(I1&I2&I3&I4) ;
	// ../source/led_test.v:18

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="D18", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_NONE="TRUE" *)    GTP_INBUF /* clk_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        clk_ibuf (
            .O (nt_clk),
            .I (clk));
	// ../source/led_test.v:7

    GTP_DFF_R /* \led_light_cnt[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[0]  (
            .Q (led_light_cnt[0]),
            .CLK (nt_clk),
            .D (\led_light_cnt[0]_inv ),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[1]  (
            .Q (led_light_cnt[1]),
            .CLK (nt_clk),
            .D (N8[1]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[2]  (
            .Q (led_light_cnt[2]),
            .CLK (nt_clk),
            .D (N8[2]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[3]  (
            .Q (led_light_cnt[3]),
            .CLK (nt_clk),
            .D (N8[3]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[4]  (
            .Q (led_light_cnt[4]),
            .CLK (nt_clk),
            .D (N8[4]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[5]  (
            .Q (led_light_cnt[5]),
            .CLK (nt_clk),
            .D (N8[5]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[6]  (
            .Q (led_light_cnt[6]),
            .CLK (nt_clk),
            .D (N8[6]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[7]  (
            .Q (led_light_cnt[7]),
            .CLK (nt_clk),
            .D (N8[7]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[8]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[8]  (
            .Q (led_light_cnt[8]),
            .CLK (nt_clk),
            .D (N8[8]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[9]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[9]  (
            .Q (led_light_cnt[9]),
            .CLK (nt_clk),
            .D (N8[9]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[10]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[10]  (
            .Q (led_light_cnt[10]),
            .CLK (nt_clk),
            .D (N8[10]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[11]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[11]  (
            .Q (led_light_cnt[11]),
            .CLK (nt_clk),
            .D (N8[11]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[12]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[12]  (
            .Q (led_light_cnt[12]),
            .CLK (nt_clk),
            .D (N8[12]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[13]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[13]  (
            .Q (led_light_cnt[13]),
            .CLK (nt_clk),
            .D (N8[13]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[14]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[14]  (
            .Q (led_light_cnt[14]),
            .CLK (nt_clk),
            .D (N8[14]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[15]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[15]  (
            .Q (led_light_cnt[15]),
            .CLK (nt_clk),
            .D (N8[15]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[16]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[16]  (
            .Q (led_light_cnt[16]),
            .CLK (nt_clk),
            .D (N8[16]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[17]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[17]  (
            .Q (led_light_cnt[17]),
            .CLK (nt_clk),
            .D (N8[17]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[18]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[18]  (
            .Q (led_light_cnt[18]),
            .CLK (nt_clk),
            .D (N8[18]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[19]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[19]  (
            .Q (led_light_cnt[19]),
            .CLK (nt_clk),
            .D (N8[19]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[20]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[20]  (
            .Q (led_light_cnt[20]),
            .CLK (nt_clk),
            .D (N8[20]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[21]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[21]  (
            .Q (led_light_cnt[21]),
            .CLK (nt_clk),
            .D (N8[21]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[22]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[22]  (
            .Q (led_light_cnt[22]),
            .CLK (nt_clk),
            .D (N8[22]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_DFF_R /* \led_light_cnt[23]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_light_cnt[23]  (
            .Q (led_light_cnt[23]),
            .CLK (nt_clk),
            .D (N8[23]),
            .R (N30));
	// ../source/led_test.v:22

    GTP_LUT1 /* \led_light_cnt[25:0]_inv  */ #(
            .INIT(2'b01))
        \led_light_cnt[25:0]_inv  (
            .Z (\led_light_cnt[0]_inv ),
            .I0 (led_light_cnt[0]));
	// LUT = ~I0 ;

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="A20", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="8", PAP_IO_NONE="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* \led_obuf[0]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \led_obuf[0]  (
            .O (led[0]),
            .I (nt_led[0]));
	// ../source/led_test.v:10

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="C18", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="8", PAP_IO_NONE="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* \led_obuf[1]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \led_obuf[1]  (
            .O (led[1]),
            .I (nt_led[1]));
	// ../source/led_test.v:10

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="C19", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="8", PAP_IO_NONE="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* \led_obuf[2]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \led_obuf[2]  (
            .O (led[2]),
            .I (nt_led[2]));
	// ../source/led_test.v:10

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="E18", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="8", PAP_IO_NONE="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* \led_obuf[3]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \led_obuf[3]  (
            .O (led[3]),
            .I (nt_led[3]));
	// ../source/led_test.v:10

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="A17", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="8", PAP_IO_NONE="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* \led_obuf[4]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \led_obuf[4]  (
            .O (led[4]),
            .I (nt_led[4]));
	// ../source/led_test.v:10

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="A18", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="8", PAP_IO_NONE="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* \led_obuf[5]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \led_obuf[5]  (
            .O (led[5]),
            .I (nt_led[5]));
	// ../source/led_test.v:10

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="C17", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="8", PAP_IO_NONE="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* \led_obuf[6]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \led_obuf[6]  (
            .O (led[6]),
            .I (nt_led[6]));
	// ../source/led_test.v:10

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="B17", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="8", PAP_IO_NONE="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* \led_obuf[7]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \led_obuf[7]  (
            .O (led[7]),
            .I (nt_led[7]));
	// ../source/led_test.v:10

    GTP_DFF_SE /* \led_status[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b1))
        \led_status[0]  (
            .Q (nt_led[0]),
            .CE (N27_5),
            .CLK (nt_clk),
            .D (nt_led[7]),
            .S (N0_0));
	// ../source/led_test.v:34

    GTP_LUT5 /* \led_status[0]_ce_fix  */ #(
            .INIT(32'b11101010101010101010101010101010))
        \led_status[0]_ce_fix  (
            .Z (N27_5),
            .I0 (N0_0),
            .I1 (_N55),
            .I2 (_N60),
            .I3 (_N65),
            .I4 (_N67));
	// LUT = (I0)|(I1&I2&I3&I4) ;

    GTP_DFF_RE /* \led_status[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_status[1]  (
            .Q (nt_led[1]),
            .CE (N27_5),
            .CLK (nt_clk),
            .D (nt_led[0]),
            .R (N0_0));
	// ../source/led_test.v:34

    GTP_DFF_RE /* \led_status[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_status[2]  (
            .Q (nt_led[2]),
            .CE (N27_5),
            .CLK (nt_clk),
            .D (nt_led[1]),
            .R (N0_0));
	// ../source/led_test.v:34

    GTP_DFF_RE /* \led_status[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_status[3]  (
            .Q (nt_led[3]),
            .CE (N27_5),
            .CLK (nt_clk),
            .D (nt_led[2]),
            .R (N0_0));
	// ../source/led_test.v:34

    GTP_DFF_RE /* \led_status[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_status[4]  (
            .Q (nt_led[4]),
            .CE (N27_5),
            .CLK (nt_clk),
            .D (nt_led[3]),
            .R (N0_0));
	// ../source/led_test.v:34

    GTP_DFF_RE /* \led_status[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_status[5]  (
            .Q (nt_led[5]),
            .CE (N27_5),
            .CLK (nt_clk),
            .D (nt_led[4]),
            .R (N0_0));
	// ../source/led_test.v:34

    GTP_DFF_RE /* \led_status[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_status[6]  (
            .Q (nt_led[6]),
            .CE (N27_5),
            .CLK (nt_clk),
            .D (nt_led[5]),
            .R (N0_0));
	// ../source/led_test.v:34

    GTP_DFF_RE /* \led_status[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \led_status[7]  (
            .Q (nt_led[7]),
            .CE (N27_5),
            .CLK (nt_clk),
            .D (nt_led[6]),
            .R (N0_0));
	// ../source/led_test.v:34

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="C22", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_NONE="TRUE" *)    GTP_INBUF /* rstn_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        rstn_ibuf (
            .O (nt_rstn),
            .I (rstn));
	// ../source/led_test.v:8


endmodule

